<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/consultarusuario.css">
    <title>CONSULTAR PYS</title>
</head>
<body>
    <body class="fondo" background="imagenes/fondobeyonder.jpg">
        <table border="6" bordercolor="#000033" width="100%" cellspaacing="10" cellpading="0">
            
            
            <td bgcolor="" align="center"><font size="10" color="black" face="Trajanus Roma Font">Paz y Salvo</font>
                <img  src="imagenes/be.jpeg" alt="" class="img1">
                
          </td>
      </table>
      <table border="6" bordercolor="#000033" width="100%" cellspaacing="10" cellpading="0">
        <td>
            <td  align="center"><font size="10" color="black" face="Trajanus Roma Font">Visualizacion de proceso</font>
        </td>
      </table>
      <table border="6" bordercolor="#000033" width="100%" cellspaacing="10" cellpading="0">
        <td>
            <center>
                <div>
            <button class="BOTON1"><a href="recursoshumanos.html">RECURSOS HUMANOS</a></button><br></div>
            <input type="checkbox" name="casilla"><font  size="10" color="green" face="Trajanus Roma Font">Aprobrobado</font><br>
        </center>
        </td>
        <td>
            <center>
                <div>
            <button class="BOTON1"><a href="contabilidad.html">CONTABILIDAD</a></button><br></div>
            <input type="checkbox" name="casilla"><font  size="6" color="red" face="Trajanus Roma Font">No Aprobrobado</font><br>
        </center>
        </td>
        <td>
            <center>
                <div>
            <button class="BOTON1"><a href="sistemas.html">SISTEMAS</a></button><br></div>
            <input type="checkbox" name="casilla"><font  size="10" color="green" face="Trajanus Roma Font">Aprobrobado</font><br>
        </center>
        </td>
        <td>
            <center>
                <div>
            <button class="BOTON1"><a href="seguridad.html">SEGURIDAD</a></button><br></div>
            <input type="checkbox" name="casilla"><font  size="6" color="red" face="Trajanus Roma Font">No Aprobrobado</font><br>
        </center>
        </td>
      </table>
      <table border="6" bordercolor="#000033" width="100%" cellspaacing="10" cellpading="0">
      <td>
        <textarea name="mensaje" cols="30" rows="10">Aun no puede generar su paz y salvo ya que hay algun pediente,por favor seleccone la dependencia para verificar porque no ha sido aprobado. </textarea>
        
      </td> </table><br>

    <center>
               <a href="index.php"> <input type="button"  name="Regresar" value="Regresar"> </a>
    
            </center>

        
    
    
</body>
</html>