<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contactenos.css">
    <title>contactenos</title>
</head>
<body class="fondo" background="imagenes/fondobeyonder.jpg">
    <center>
    <h1>Paz y Salvo Beyonber</h1>
    <a href="menuempleado.html"> <input type="button"  name="Regresar" value="Regresar"> </a>
</center><br>
<p>
    
    <img  src="imagenes/iconotelefono.png" alt="">
    Telefono 
    3212655323 <br>
    <div class="organ">
    3165627899 <br>
    3198733653 <br>
</div> <br>
<img src="imagenes/icono correo.png" alt="">
<p class="correoes"> info@beyonder.com</p> <br>
<img src="imagenes/iconomapa.png" alt="">
<p class="direcciones"> cra 105 #14-89 Bogota</p> <br> 
<p>
    <p>
        <p>
            <div class="iconos">
            <a href="https://www.instagram.com/beyondercolombia/?igshid=MzRlODBiNWFlZA%3D%3D"> <img src="imagenes/instagram.png" alt=""></a>
           <a href="https://www.whatsapp.com/?lang=es"> <img src="imagenes/whatsapp.png" alt=""></a>
         <a href="https://web.facebook.com/profile.php?id=100083292582783&mibextid=ZbWKwL&_rdc=1&_rdr">  <img src="imagenes/facebook.png"></a> 
        </div>


</body>
</html>