<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprimir PYS</title>
    <link rel="stylesheet" href="css.user/menuempleado.css">
</head>
<body class="fondo" background="imagenes/fondobeyonder.jpg"></body>
<header>
    <h1>Paz y Salvo</h1>
    <a href="index.php"> <input type="button"  name="Regresar" value="Regresar"> </a>
    <hr>
</header>
    <embed src="./files/PYS.pdf" type="application/pdf" width="1020px" height="630px"/>
</body>
</html>