<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css.user/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@800&family=Pirata+One&display=swap" rel="stylesheet">
  <title>SOLICITAR PYS</title>
</head>

    <div class="">
  <body background="../../img/beyonder333.jpg"></div>
    
  <form action="recibe.html" method="post">
   
       <div align="center">
  <p src="imagenes/marco.png" class="fant">SISTEMA DE PAZ Y SALVO EMPRESARIAL</p>
</div>   
<div class="Login">
<footer>
    <div class="container">
    </footer>
    <br>
    <br>
    <br>
    <p>
 <form action="recibe.html" method="post">
          <center>
            <p src="imagenes/marco.png" class="fant">Bienvenido(a)al sistema de expedición de paz y salvo empresarial<br>
              Edgar Andres Hernandez Jimenez <br>
                1016069193<br>
                  Ingeniero de sistemas y telecomunicaiones <br>  
                        <br>
                        
                          
                          
                          <textarea cols="25" rows="10" class="textbox" placeholder="Escriba el motivo por el cual va solicitar el paz y salvo"></textarea>
                          
                          
        
      </div>
        
      <div class="container"> 
        <div class="btn">
         <a href="consultarusuario.html"> <span>Enviar</span></a>
          <div class="dot"></div>
        </div>
        <br>
        
        </div>
        <div class="container"> 
          <div class="btn">
           <a href="index.php"> <span>Regresar</span></a>
            <div class="dot"></div>
          </div>
        
        </div>
          </form>
    
 
  
</body>
</html>
      