*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  user-select: none;
}
body{
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url("../../../img/fondobeyonder.jpg")
  
}
.container{
  height: 75vh;
  width: 25vw;
  background-color: rgb(82, 209, 226);
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 5px 20px #7f868f;
  border-radius: 8px;
}
form{
  height: 75vh;
  width: 30vw;
  display: grid;
  place-content: center;
  place-items: center;
}
form h1{
  margin-top: -15px;
  text-align: center;
}
input{
  outline: none;
  border: none;
  margin: 10px 0;
  height: 30px;
  font-size: 18px;
  padding: 15px;
  width: 22.5vw;
  box-shadow: 0 2px 5px #b6bebb;


}
label{
  font-size: 20px;
}

textarea{
  padding: 15px;
  border: none;
  outline: none;
  font-size: 18px;
  width: 22.5vw;
  box-shadow: 0 2px 5px #abbdb5;
}
.button{
  text-align: center;

}
button{
  position: relative;
  margin: 0 auto;
  width: var(--btn-w);
  color: var(--primary);
  border: .15em solid var(--primary);
  border-radius: 5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
  cursor: pointer;
}
span{
  color: red;
}
h5{
  margin-top: 20px;
  color: hsl(33, 100%, 50%);
}
