<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Firmas pys</title>
</head>
<body>
  <body class="fondo" background="../../img/fondobeyonder.jpg">
    
  <form action="recibe.html" method="post">
    <table border="2" bordercolor="blue" width="100%" cellspacing="10" cellpadding="10">
        <tr><td>
          <p align="left">
            <img src="Imagenes/be.jpeg" width="50" height="50">
            
            
        </p> 
          <center>
            <a href=""> <input type="button"  name="Regresar" value="Regresar"> </a>
            <p class="fant"> <h1>PAZ Y SALVO</h1> </p>
            <h3>01----1016005176</h3>
            <h3>jaime rodriguez</h3>
        </center>   
        </td></tr>
      </div>
    </table>
<div class="Login">
<footer>
    <div class="container">
    </footer>
 <form action="recibe.html" method="post">
    <table border="2" bordercolor="blue" width="100%" cellspacing="10" cellpadding="10">
        <tr><td>
          <p class="text">Este documento deve estar totalmente firmado<br>
             por cada dependencia como comprobación de paz y salvo </p>
        </table>
        <table border="2" bordercolor="blue" width="100%" cellspacing="10" cellpadding="10">
       <tr>
<td><p><h4>RECURSOS HUMANOS</h4><p>  
           <select name="aprobación" id="estado">
                   <option>Aprobo</option>
                   <option>No aprobo</option>
                   </select>
                   <p><left><textarea cols="40" rows="5" name="opinion">Escriba aqui por que no le da el aprobado al usuario ...</textarea></left></p>
                   <p><h4>Firma</h4>
                    <input type="text" name="ciudad" size="50" maxlength="50"> 
                    <a href="notificaciones.html"><input type="button" value="Enviar"></a>
                  </td>
                  <tr>
                    <td><p><h4>CONTABILIDAD</h4><p>  
                               <select name="aprobación" id="estado">
                                       <option>Aprobo</option>
                                       <option>No aprobo</option>
                                       </select>
                                       <p><left><textarea cols="40" rows="5" name="opinion">Escriba aqui por que no le da el aprobado al usuario ...</textarea></left></p>
                                       <p><h4>Firma</h4>
                                        <input type="text" name="ciudad" size="50" maxlength="50"> 
                                        <a href="notificaciones.html"><input type="button" value="Enviar"></a>
                                      </td>
                                      <tr>
                                        <td><p><h4>SISTEMAS</h4><p>  
                                                   <select name="aprobación" id="estado">
                                                           <option>Aprobo</option>
                                                           <option>No aprobo</option>
                                                          
                                                        </select>
                                                        <p><left><textarea cols="40" rows="5" name="opinion">Escriba aqui por que no le da el aprobado al usuario ...</textarea></left></p>
                                                           <p><h4>Firma</h4>
                                                            <input type="text" name="ciudad" size="50" maxlength="50"> 
                                                            <a href="notificaciones.html"><input type="button" value="Enviar"></a>
                                                          </td>
                                                          <tr>
                                                            <td><p><h4>SEGURIDAD</h4><p>  
                                                                       <select name="aprobación" id="estado">
                                                                               <option>Aprobo</option>
                                                                               <option>No aprobo</option>
                                                                              
                                                                               </select>
                                                                               <p><left><textarea cols="40" rows="5" name="opinion">Escriba aqui por que no le da el aprobado al usuario ...</textarea></left></p>
                                                                               <p><h4>Firma</h4>
                                                                                <input type="text" name="ciudad" size="50" maxlength="50"> 
                                                                                <a href="notificaciones.html"><input type="button" value="Enviar"></a>
                                                                              </td>
                   
                   
                   


</table>
            
      </div>
    </table>
   <tr>
         
          </div></td></tr></table></form>
    
 
  
</body>
</html>
      